body {
  margin: 0px;
  height: 100%;
}

a {
  text-decoration: none !important;
}

.wrapper {
  min-height: 100vh;
  margin-bottom: -50px;
}

.push {
  height: 50px;
}

.App {
  text-align: center;
  background-color: rgb(235, 230, 223);
  font-family: Lato-Regular;
}
