.Home {
  margin: 50px;
}

.Home h1 {
  font-size: 170px;
  font-weight: 800;
  margin: 50px;
  padding: 25px;
  font-family: Redressed-Regular;
}

.Home p {
  font-size: 30px;
}

.Home .btn {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .Home h1 {
    font-size: 100px;
  }

}